---
---
<nav class="bottom-nav">
  <a href="/food" class="bottom-nav__link">Food</a>
  <a href="/travel" class="bottom-nav__link">Travel</a>
  <a href="/informal-experience" class="bottom-nav__link">Informal Experience</a>
</nav>

<style>
  /* Local overrides if needed */
</style>
