---
---
<nav class="navbar" id="navbar">
  <div class="container">
    <a href="/" class="navbar__logo">sanjanaunfiltered</a>
    <a href="https://x.com/she00574" target="_blank" class="navbar__social" aria-label="X (Twitter) Profile">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
        <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932 6.064-6.932zm-1.294 19.497h2.039L6.482 3.239H4.293l13.314 17.411z"/>
      </svg>
    </a>
  </div>
</nav>

<style>
  /* Local overrides if needed, but global.css handles most */
</style>
